/* CurrencySelector.css */

.currency-dropdown {
    background-color: purple;
    color: white;
    width: 280px;
    height: 70px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.currency-dropdown:hover {
    background-color: purple;
    color: white;
}

.currency-dropdown:after {
    content: '\25BC';
    font-size: 1em;
    margin-left: 5px;
}

.currency-dropdown option:first-child:before {
    content: 'Currency';
    color: white;
}

.currency-prefix {
    color: green;
    margin-top: 20px;
    justify-content: center;

}
