.btn-increase, .btn-decrease {
    border: none;
    color: white;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.btn-increase {
    background-color: green
}

.btn-decrease {
    background-color: red;
}
